body {
    font-family: sans-serif;
    background: #629b7b;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

h2 {
    text-align: center;
    font-size: 2em;
}

form {
    width: 1000px;
    font-size: 1.2em;
    font-family: 'Lucida Sans', sans-serif;
    margin: 0 auto;
}

.centralizar {
    display: block;
    margin: 0 auto;
}
