* {
    padding: 0;
}
body {
    font-family:  sans-serif;
}

footer {
    background-color: aqua;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;

}
footer {
    color: rgb(16, 16, 17);
    bottom: 0;
}